# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - uses: astral-sh/setup-uv@v1
      with:
        version: "latest"
    - name: Install dependencies
      run: make install_dev
    - name: Lint with flake8
      run: make lint
    - name: Run tests with unittest
      run: make test
    - name: Build distributable
      run: make create_dist
    - name: Upload dist as workflow artifact
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist/*

  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - name: Download dist artifact from build
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist
      - name: Create GitHub Release and attach dist/*
        uses: ncipollo/release-action@v1
        with:
          files: dist/*