# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - uses: astral-sh/setup-uv@v1
      with:
        version: "latest"
    - name: Install dependencies
      run: uv sync -p 3.12
    - name: Lint with flake8
      run: |
        make lint
    - name: Run tests with unittest
      run: |
        make test
